{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for message in app.flashes('sucess') %}
        <div class="p-3 mb-2 bg-info text-white">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.confirmPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
