{% form_theme form.images 'form_div_layout.html.twig' %}

{{ form_start(form) }}

{{ form_errors(form) }}

{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.category, { 'label': 'Catégorie du trick' }) }}
            <a href="{{ path('category_new') }}">Ajouter une catégorie</a>
            {{ form_row(form.name, { 'label': 'Nom du trick' }) }}
            {{ form_row(form.description, { 'label': 'Description du trick' }) }}
        </div>

        <div class="col-sm-3">
            <h4>Photos</h4>
            <div class="images" id="img_list" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                {% for row in form.images %}
                    <div class="card mb-3">
                        <div class="card-body">
                          <img width="100%" src="{{ asset('uploads/media/' ~ row.vars.value.src) }}" alt="{{ row.vars.value.alt }}">
                        </div>
                        <div style="display:none">
                            {{ form_row(row) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-3">
            <h4>Vidéos</h4>
            <div class="videos" id="vid_list" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {% for row in form.videos %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>{{ row.vars.value.url }}</p>
                        </div>
                        <div style="display:none">
                            {{ form_row(row) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="row form-group mt-3">
        <div class="form_cancel col-md-offset-8 col-md-2 col-sm-4 mb-3">
    	       <a href="{{ path('trick_admin') }}" class="btn btn-info btn-block">Annuler</a>
        </div>
        <div class="form_submit col-md-2 col-xs-8">
    	       <button type="submit" class="btn btn-primary">{{ button|default('Enregister')}}</button>
        </div>
    </div>

{{ form_end(form) }}
