{{ form_start(form) }}

{{ form_errors(form) }}

{{ form_row(form.name) }}
{{ form_row(form.category) }}
<a href="{{ path('category_new') }}">Créer une nouvelle catégorie</a>
{{ form_row(form.description) }}
<button type="submit" class="btn btn-primary">{{ button|default('Enregister')}}</button>

{{ form_end(form) }}
