{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div>
    <h1>Vos tricks</h1>
    <ul>
        <li><a href="{{ path('trick_admin_new') }}">Créer un nouveau trick</a></li>
    </ul>
    <div class="container">
          <div class="row flex">
              {% for trick in tricks %}
                  <div class="col-lg-4">
                      <div class="card">
                          <div class="card-header">
                              <em>{{ trick.category.name }}</em>
                          </div>
                          <div class="card-body">
                              <h5 class="card-title">{{ trick.name }}</h5>
                              <a href="{{ path('trick_admin_show', {'id': trick.id})}}" class="btn btn-primary">Détails</a>
                          </div>
                          <div class="card-footer text-muted">
                              <em>Créé le {{ trick.createdAt | date('d/m/Y') }} par {{ trick.author.pseudo }}</em>
                              {{ include('admin/_action.html.twig') }}
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
</div>
{% endblock %}
