{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div>
    <h1>{{ trick.name }}</h1>
    <div class="">
    <em>Posté le {{ trick.createdAt | date('d/m/Y') }}</em>
        {% if trick.updatedAt %}
            <em>Mis à jour le {{ trick.updatedAt | date('d/m/Y') }}</em>
        {% endif %}
    </div>

    <div class="media images">
        {% for img in trick.images %}
            <img width="400" src="{{ asset('uploads/media/' ~ img.src) }}" alt="{{ img.alt }}">
        {% endfor %}
    </div>

    <div class="media videos">
        {% for vid in trick.videos %}
            <iframe id="video{{ vid.id }}" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <script>
                var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                var url = "{{ vid.url }}";
                var match = url.match(regExp);
                if (match && match[2].length == 11)
                {
                    var id = match[2];
                    var embedlink = "http://www.youtube.com/embed/" + id;
                    var iframe = document.getElementById("video{{ vid.id }}");
                    iframe.src = embedlink;
                }
            </script>
        {% endfor %}
    </div>

    <p>{{ trick.description | nl2br }}</p>

    {{ include('admin/_action.html.twig') }}
</div>
{% endblock %}
