<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Snowtricks{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <nav class="navbar navbar-expand-lg {% if controller_name is defined %}{% if controller_name is same as("TrickControllerShow") %}nav-colorized{% endif %}{% endif %}">
          <ul class="navbar-nav">
                <div class="home">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('tricks') }}"><i class="fas fa-home"></i><span class="menu-label brand-name {% if controller_name is defined %}{% if controller_name is same as("TrickController") %}large{% endif %}{% endif %}">Snowtricks</span></a>
                </li>
                </div>
                <div class="user-feat">
            {% if not app.user %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i><span class="menu-label">Se connecter</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_register') }}"><i class="fas fa-user-plus"></i><span class="menu-label">S'inscrire</span></a>
                </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('profile', {'pseudo': app.user.pseudo}) }}"><i class="fas fa-user"></i><span class="menu-label">{{ app.user.pseudo }}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('trick_admin') }}"><i class="fas fa-edit"></i><span class="menu-label">Administration</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i><span class="menu-label">Se déconnecter</span></a>
                </li>
            {% endif %}
                </div>
          </ul>
      </nav>

      <div>
          {{ include('flash.html.twig') }}
          {% block body %}{% endblock %}
      </div>

      <footer></footer>

      <script src="{{ asset('js/app.js') }}"></script>
{% block javascript %}
{% endblock %}
    </body>
</html>
