{% for comment in trick.comments | slice(start, length) %}
    <div class="media mt-4">
        <img src="{{ asset('uploads/avatar/' ~ comment.author.avatar) }}" class="mr-3 avatar" alt="avatar de {{ comment.author.pseudo }}" width="30" class="avatar">
        <div class="media-body">
        <p>{{ comment.author.pseudo }} - <em>Le {{ comment.createdAt | date('d/m/Y') }}</em></p>
        <p>{{ comment.content | nl2br }}</p>
        </div>
    </div>
{% endfor %}
