{% for trick in tricks | slice(start, length) %}
    <div class="col-lg-4 mt-3">
        <div class="card">
            <div class="card-header">
                <em>{{ trick.category.name }}</em>
            </div>
            {% for img in trick.images | slice(0, 1) %}
                <img width="100%" src="{{ asset('uploads/media/' ~ img.src) }}" alt="{{ img.alt }}">
            {% endfor %}
            <div class="card-body">
                <h5 class="card-title">{{ trick.name }}</h5>
                <a href="{{ path('trick_show', {'slug': trick.slug})}}" class="btn btn-primary">Détails</a>
            </div>
            <div class="card-footer text-muted">
                <em>Créé le {{ trick.createdAt | date('d/m/Y') }} par {{ trick.author.pseudo }}</em>
            </div>
        </div>
    </div>
{% endfor %}
